.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  border: 0px solid #ddd;
  margin-top: 25px;
  flex-wrap: wrap;
}

.left-info {
  width: 65%;
}

.left-info h3 {
  margin-top: 0;
}

.left-info p {
  text-align: justify;
}

.right-info {
  width: 30%;
}

.right-info ul {
  list-style-type: none;
  padding: 0;
}

.right-info ul li {
  border: solid 1px #ffffff;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.55);
}

.right-info ul li tag {
  text-decoration: none;
  color: #007bff;
}

.right-info ul li a:hover {
  text-decoration: underline;
}

.image-wrapper {
  display: flex;
  align-items: center;
}

.image-small {
  width: 80px; /* Adjust size of the image */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Space between image and text */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .left-info,
  .right-info {
    width: 100%;
  }

  .right-info {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .left-info h3,
  .right-info h4 {
    font-size: 1.25rem;
  }

  .left-info p,
  .right-info p {
    font-size: 1rem;
  }
}
