.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #0c0c0c;
  padding: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo img {
  margin-left: 50px;
  width: 80px;
  height: auto;
}

.navbar-center .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-center .nav-links li {
  margin-right: 1rem;
}

.navbar-center .nav-links a {
  color: #0c0c0c;
  text-decoration: none;
}

.navbar-right {
  display: none;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 768px) {
  .navbar-center .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .navbar-center .nav-links.open {
    display: flex;
  }

  .navbar-right {
    display: flex;
    align-items: center;
  }

  .hamburger-menu {
    display: block;
    color: #0c0c0c;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media (max-width: 576px) {
  .logo img {
    margin-left: 20px;
    width: 60px;
  }
}
